<div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="/iPhone-icon.png" />
      </div>
      <div class="col-md-8">
        <% content_for :title do %>About<% end %>
        <h3>About the Website</h3>
        <p>
          The main use of this website is the customer can easily search details of the

          mobile in which customer is willing to buy he can do all this from home by

          registering to the online mobile services, he gets email alerts on special occasions

          regarding offers, so that it will be easy to the customer to buy.
        </p>
      </div>
    </div>
</div>